#game-container{
    width: 100%;
    height: 100%;
}


#phaser-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

}


#gameCanvas{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
}
